{% import "header.html.j2" as Header %}
{% import "overview.html.j2" as Overview %}
{% import "table.html.j2" as Table %}

<!DOCTYPE html>
<html>

<head>
    <title>BILLS | Bizfly Cloud</title>
    <meta charset='utf-8'/>
    <link rel="stylesheet" type="text/css" href="{{ css_path }}"/>
</head>

<body>
    {{ Header.render(header_data) }}
    {{ Overview.render(project_data, total_bill) }}
    {{ Table.render(bill_data) }}
</body>

</html>