{% macro render(bill_lines) %}
    {% set bill_lines = bill_lines %}
    {% for project, project_group in bill_lines|groupby("project_name") %}
        <div class="mt-4">
            <div class="row mb-2">
                <span class="col-10 table-title-name">
                    <b>Bảng 1: </b>
                    Chi tiết cước phí dự án

                    <span>
                        <b>{{ project }}</b>
                    </span>
                </span>
                <div class="col-2 table-title-note text-right">
                    <span>
                        <i>đơn vị thanh toán: VNĐ</i>
                    </span>
                </div>
            </div>
        </div>

        <table class="mt-1 table invoice-table">
            <thead>
            <tr>
                <th>STT</th>
                <th>Tài nguyên</th>
                <th>Từ ngày</th>
                <th>Đến ngày</th>
                <th>Sử dụng</th>
                <th>Chi phí</th>
                <th>Chiết khấu (%)</th>
                <th>Tiền chiết khấu</th>
                <th>Chi phí sau chiết khấu</th>
                <th>Đã thanh toán</th>
                <th>Chưa thanh toán</th>
            </tr>
            </thead>
            <tbody>
            {% for region, region_group in project_group|groupby("region_name") %}
                <tr class="region">
                    <td class="text-left" colspan="8">
                        <span class="ml-2">Region: {{ region }}</span>
                    <td class="text-right">{{ region_group|sum(attribute='paid_total') }}</td>
                    <td class="text-right">{{ region_group|sum(attribute='paid_total') }}</td>
                    <td class="text-right">{{ region_group|sum(attribute='unpaid_total') }}</td>
                    </td>
                </tr>
                {% set index = 1 %}
                {% for group, bill_line_group in region_group|groupby("related_ref") %}
                    <tr class="title-line">
                        <td class="text-center"> {{ index }} </td>
                        <td class="text-left"> {{ get_group_summary(bill_line_group) }}</td>
                        <td class="text-center"> term_start_date </td>
                        <td class="text-center"> term_end_date </td>
                        <td class="text-center"></td>
                        <td class="text-right"> {{ bill_line_group|sum(attribute='subtotal') }} </td>
                        <td class="text-center"> {{ bill_line_group|sum(attribute='discount_percent') }} </td>
                        <td class="text-right"> {{ bill_line_group|sum(attribute='discount_total') }} </td>
                        <td class="text-right"> {{ bill_line_group|sum(attribute='final_total') }} </td>
                        <td class="text-right"> {{ bill_line_group|sum(attribute='paid_total') }} </td>
                        <td class="text-right"> {{ bill_line_group|sum(attribute='unpaid_total') }} </td>
                    </tr>
                    {% index = index + 1 %}
                    {% for bill_line in bill_line_group %}
                        <tr>
                            <td class="text-center"></td>
                            <td class="text-left"> {{ bill_line.resource_summary }}</td>
                            <td class="text-center"> {{ bill_line.term_start_date }}</td>
                            <td class="text-center"> {{ bill_line.term_end_date }}</td>
                            {% if bill_line.action == 'on' or bill_line.action == 'off' %}
                                <td class="text-center">{{ bill_line.action_vn }} {{ bill_line.quantity }}
                                    giờ
                                </td>
                            {% else %}
                                <td class="text-center">{{ bill_line.quantity }} giờ</td>
                            {% endif %}
                            <td class="text-right">{{ bill_line.subtotal }}</td>
                            <td class="text-center">{{ bill_line.discount_percent }}</td>
                            <td class="text-right">{{ bill_line.discount_total }}</td>
                            <td class="text-right">{{ bill_line.final_total }}</td>
                            <td class="text-right">{{ bill_line.paid_total }}</td>
                            <td class="text-right">{{ bill_line.unpaid_total }}</td>
                        </tr>
                    {% endfor %}
                {% endfor%}
            {% endfor %}
            </tbody>

            <tfoot>
                <tr class="red-color">

                    <td colspan="5" class="text-right">Tổng:</td>
                    <td class="text-right">{{ project_group|sum(attribute='subtotal') }}</td>
                    <td class="text-right"></td>
                    <td class="text-right">{{ project_group|sum(attribute='subtotal') }}</td>
                    <td class="text-right">{{ project_group|sum(attribute='discount_total') }}</td>
                    <td class="text-right">{{ project_group|sum(attribute='paid_total') }}</td>

                    <td class="text-right">{{ project_group|sum(attribute='unpaid_total') }}</td>
                </tr>
            </tfoot>
        </table>
    {% endfor %}
{% endmacro %}